html {
  background-color: #58390949;
  height: 100%;
}
#container {
  height: 300px;
  width: 550px;
  margin: 0 auto;
  border: 5px solid #236890;
  display: grid;
  grid-template-columns: 50px 1fr 1fr 1fr 50px;
  grid-template-rows: 100px 1fr 1fr;
  background-color: #098761;
}
#weight-input {
  height: 25px;
  width: 250px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
  align-self: center;
}
#wlable {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}

#height-input {
  height: 25px;
  width: 250px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
  align-self: center;
}
#hlable {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
}

#bmi-output {
  height: 25px;
  width: 250px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
  align-self: center;
}
#blable {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
}
#btn {
  height: 25px;
  width: 75px;
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
  align-self: center;
  justify-self: center;
}

#table {
  height: 100px;
  width: 550px;
  background-color: #098761;

  margin: 0 auto;
  border: 5px solid #236890;
}
table,
th,
td {
  margin: auto;
  text-align: center;
  border: 5px solid #236890;
  border-collapse: collapse;
}
